.card-img-top {
    border-radius: 200px;
    background-color: #feffec;

    object-fit: contain; /* hoặc cover */
}

.card{
    border: none !important;
    cursor: pointer;
}

#category{
    width: 100%;
}

.category-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #feffec;
    padding: 20px;          /* tạo khoảng trống quanh ảnh */
    object-fit: contain;
    display: block;
    margin: 0 auto;
}