.gallery .slide-item img {
    width: auto;
    height: 600px; /* chiều cao tuỳ chỉnh */
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* slide trung tâm */
.gallery .slick-center .slide-item img {
    transform: scale(1);
    opacity: 1;
}

/* slide bên cạnh */
.gallery .slide-item img {
    transform: scale(0.8);
    opacity: 0.6;
}

.gallery .slick-prev {
    z-index: 999;
    left: 80px;   /* đẩy sang ngoài slider */
}
.gallery .slick-next {
    z-index: 999;
    right: 80px;
}

.gallery .slick-prev:before,
.gallery .slick-next:before {
    display: none;
}

#gallery {
    background-color: #feffec;
    scroll-margin-top: 44px;
}

.gallery .gallery-img {
    height: 600px;
    width: 480px;
    display: block;
    border-radius: 30px;
    object-fit: fill; /* ép vừa khung, co/dãn ảnh */
}

.collection img{
    width: 370px !important;
    height: 500px !important;
    object-fit: fill;
    border-radius: 20px;
    margin-right: 10px;
}

.collection{
    margin-left: 15px;
}