/*#home {*/
/*    overflow-x: hidden;      !* chặn cuộn ngang *!*/
/*}*/

.home-banner {
    height: calc(100vh - 44px);
    width: 100%;
    display: block;
    object-fit: fill;
}

/* Bảo đảm arrow nằm trong khung và nổi lên */
.home-slider .custom-arrow {
    cursor: pointer;
    z-index: 999;
}

.home-slider .slick-prev.custom-arrow {
    left: 5px !important;
}

.home-slider .slick-next.custom-arrow {
    right: 32px !important;
}

.home-slider .slick-prev:before,
.home-slider .slick-next:before {
    display: none !important;
}

#home{
    scroll-margin-top: 44px;
}